@model List<Emp>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="Employee" asp-action="AddEmp"><input type="submit" value="Add New" class="btn btn-info" /></a>

<br />


@if(TempData["msg"]!=null)
{
    @TempData["msg"]
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Salary</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                
                <th scope="row">@d.Id</th>
                <td>@d.Name</td>
                <td>@d.Dept</td>
                <td>@d.Salary</td>
            </tr>
        }
    </tbody>
</table>